.carouselWrapper {
    width: 1441px;
    height: 613px;
    margin: 0 auto;
    position: relative;
    gap: 39px;
}

.topButtons {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-bottom: 20px;
}

.iconButton {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff8fb;
    border: 1.84px solid #ffCCE0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.iconButton:hover {
    background: #ffd6e8;
}

.carouselContainer {
    width: 100%;
    max-width: 1441px;
    margin: 0 auto;
}

.productCard {
    width: 331px;
    height: 613px;
    gap: 24px;
    text-align: center;
    background: #fff;
    border-radius: 10.12px;
    border: 1.45px solid #0000001A;
    padding-bottom: 20px;
}

.imageWrapper {
    width: 331px;
    height: 416px;
    overflow: hidden;
    border-radius: 10.12px;
    border: 1.45px solid #0000001A;
}

.productImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productCategory {
    width: 331px;
    height: 24px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 17.34px;
    line-height: 23.13px;
    letter-spacing: 1%;
    color: #999999;
    margin-top: 10px;
    padding: 2px 0;
}

.productName {
    width: 331px;
    height: 58px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20.24px;
    line-height: 28.91px;
    letter-spacing: 2%;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.priceRow {
    width: 331px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11.56px;
    margin-top: 10px;
}

.discountedPrice {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20.24px;
    line-height: 23.13px;
    color: #333333;
    padding: 2px 8px;
    border-radius: 5px;
}

.actualPrice {
    font-family: Poppins;
    font-weight: 500;
    font-size: 17.34px;
    line-height: 23.13px;
    text-decoration: line-through;
    color: #33333399;
    padding: 2px 8px;
    border-radius: 5px;
}

.discountTag {
    font-family: Poppins;
    font-weight: 600;
    font-size: 14.45px;
    line-height: 23.13px;
    color: #5CBD57;
    padding: 2px 6px;
    border-radius: 5px;
}